body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px 5px black;
    color: white;
}

.header {
    background-color: #212529;
    height: 100vh;
    width: 100%;
    font-size: 1.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    opacity: 1;
}

.h1-child {
    position: absolute;
    top: 165px;
}

.h1-parent {
    position: relative;
}

.fade-in {
    animation: fade-in 5s ease-in-out infinite alternate;
}

.fade-out {
    animation: fade-out 5s ease-in-out forwards infinite alternate;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.tagline {
    background-color: #343a40;
    height: 50vh;
    padding: 100px;
    display: flex;
    flex-direction: row;
}

.tagline-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1px;
}

.tagline h3,
.tagline p {
    font-size: 1.5em;
    flex: 0;
    margin-right: 50px;
}

.tagline img {
    flex: 0 0 auto;
    height: max-content;
    width: 250px;
}

.skills {
    background-color: #212529;
    height: 65vh;
    font-size: 1.5em;
    padding: 100px;
}

.contact {
    background-color: #343a40;
    height: 40vh;
    font-size: 1.5em;
    padding: 100px;
}

.contact img {
    width: 100px;
    height: max-content;
    filter: brightness(100);
    padding-left: 25px;
}